
.logo {
    font-size: 10vw;
}


@media screen and (max-width: 640px) {
    .logo {
        font-size: 3rem;
    }

}


@media screen and (min-width: 1025px) {
    .logo {
        font-size: 6.5rem;
    }
}
 

